/* Footer */

footer {
    background-color:wheat;
    color: midnightblue;
    padding: 2rem 0 0 0;
    margin-top: 2rem;
}
footer p {
    margin: 0;
}

footer a { 
    text-decoration: none;
    background-image: linear-gradient(to right, #FF8437, indigo);
    color: transparent;
    background-clip: text;
    font-family: 'Natural Precision', monospace;
}
footer a:link {
    color: transparent;
    background-clip: text;
}
footer a:hover {
    background-image: linear-gradient(to right, indigo, #FF8437);
    color: transparent;
    background-clip: text;
}

.hidden{
    display: none;
}